*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: antiquewhite;
}
h1{
    padding: 25px;
}
ul li a{
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
color: rgb(73, 9, 161);
}
ul li{
    list-style: none;
}
ul{
    display: flex;
}